* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header .menu {
    display: flex;
    gap: 20px;
}